@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("/fonts/BasisGrotesquePro-Regular.woff2") format("woff2"),
    url("/fonts/BasisGrotesquePro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: "Basis Grotesque Pro", sans-serif;
  scroll-behavior: smooth;
  background: rgba(7, 13, 51, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(12, 14, 60, 1);

  border-bottom: 0.1px solid rgba(255, 255, 255, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(12, 14, 60, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(12, 14, 60, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.82px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #fff;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 33px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 25.82px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;

  padding: 142px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Frame\ 532\ \(2\).png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Agbalumo;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-shadow: 3.72px 3.72px 0px rgba(100, 30, 15, 1);
  -webkit-text-stroke: 2px rgba(164, 77, 61, 1);
}

.home-text {
  font-family: Agbalumo;
  font-size: 24px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 40px 0 32px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 800px;
    padding: 132px 120px 0px;
    background-image: url("/image/home/Hero\ block\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-family: Agbalumo;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-shadow: 3.72px 3.72px 0px rgba(100, 30, 15, 1);
    -webkit-text-stroke: 4px rgba(164, 77, 61, 1);
  }

  .home-text {
    font-family: Agbalumo;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.why {
  width: 375px;
  height: 812px;

  margin: auto;
  padding: 30px 11px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/why/Second\ Block.png");
}
.why-text-one {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(100, 30, 15, 1);
  padding: 32px 0 24px;
}
.why-text-one-bold {
  font-size: 16px;
  font-weight: 900;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.why-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.why-item {
  margin: auto;
  display: flex;
  gap: 16px;
  align-items: center;

  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  border: 3.72px solid rgba(239, 113, 135, 1);
  box-shadow: 0px 4.96px 1px 0px rgba(0, 0, 0, 0.15);

  background: linear-gradient(99.24deg, #f9cacb -1.68%, #f07a8d 23.42%);
}

.why-text-bold {
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.why-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.why-text-two {
  padding-top: 20px;
  color: rgba(100, 30, 15, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    height: 794px;

    margin: auto;
    padding: 72px 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/why/Second\ Block\ \(1\).png");
  }
  .why-text-one {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 32px 0 30px;
  }
  .why-text-one-bold {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .why-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
  .why-item {
    margin: 0;
    display: flex;
    gap: 16px;
    align-items: center;
    width: 592px;
    padding: 16px;
    border-radius: 16px;
    border: 3.72px solid rgba(239, 113, 135, 1);
    box-shadow: 0px 4.96px 1px 0px rgba(0, 0, 0, 0.15);

    background: linear-gradient(99.24deg, #f9cacb -1.68%, #f07a8d 23.42%);
  }

  .why-text-bold {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .why-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .why-text-two {
    padding-top: 40px;

    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.uniqueness {
  width: 375px;
  height: 700px;
  margin: auto;
  padding: 50px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/uniqueness/Second\ Block\ \(2\).png");
}

.uniqueness-list {
  padding-top: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.uniqueness-item {
  width: 343px;
  background: linear-gradient(
    180deg,
    #f56d1a 0%,
    #c95a18 52.47%,
    #e76518 92.19%
  );
  border: 3.72px solid rgba(218, 80, 25, 1);
  padding: 16px 8px 16px 8px;
  box-shadow: 0px 4.96px 0px 0px rgba(0, 0, 0, 0.46);
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.uniqueness-text-bold {
  font-size: 16px;
  font-weight: 900;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.uniqueness-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .uniqueness {
    width: 1440px;
    height: 677px;
    margin: auto;
    padding: 100px 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url("/image/uniqueness/Second\ Block\ \(3\).png");
  }

  .uniqueness-list {
    padding-top: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .uniqueness-item {
    width: 592px;
    background: linear-gradient(
      180deg,
      #f56d1a 0%,
      #c95a18 52.47%,
      #e76518 92.19%
    );
    border: 3.72px solid rgba(218, 80, 25, 1);
    padding: 16px 10px;
    box-shadow: 0px 4.96px 0px 0px rgba(0, 0, 0, 0.46);
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .uniqueness-item img {
    height: 88px;
    width: 88px;
  }
  .uniqueness-text-bold {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .uniqueness-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/4\ Block.png");
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-family: Agbalumo;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(255, 255, 255, 1);
  -webkit-text-stroke: 2px rgba(164, 77, 61, 1);
}

.about-text {
  font-family: Agbalumo;
  font-size: 24px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 0px 0px 64px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 120px;
    margin: auto;
    width: 1440px;
  }

  .about-title {
    font-family: Agbalumo;
    font-size: 81px;
    font-weight: 400;
    line-height: 97.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    -webkit-text-stroke: 4px rgba(164, 77, 61, 1);
  }

  .about-text {
    font-family: Agbalumo;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.how {
  width: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/image/4\ Block.png");
  margin: auto;
  padding: 24px 16px;
}
.how-div {
  padding: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
}
.how-list {
  padding-top: 32px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-item {
  display: flex;
  gap: 24px;
}
.how-number {
  font-family: Agbalumo;
  font-size: 40px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(254, 205, 82, 1);
  text-shadow: 3.72px 3.72px 0px rgba(100, 30, 15, 1);
}
.how-text-bold {
  font-size: 16px;
  font-weight: 900;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.how-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(100, 30, 15, 1);
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;

    margin: auto;
    padding: 100px 120px;
  }
  .how-div {
    padding: 32px 40px;
    border-radius: 24px;
  }
  .how-list {
    height: 330px;
    padding-top: 32px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 34px;
  }
  .how-item {
    display: flex;
    gap: 24px;
    width: 548px;
    align-items: center;
    justify-content: center;
  }
  .how-number {
    font-family: Agbalumo;
    font-size: 81px;
    font-weight: 400;
    line-height: 56.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .how-text-bold {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .how-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.reviews {
  width: 375px;

  background: rgba(89, 152, 101, 1);

  margin: auto;
  padding: 20px 16px;
}

.reviews-list {
  padding: 24px 0;
}
.reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 466px;
  padding: 24px 32px 24px 32px;

  border-radius: 24px;

  background: linear-gradient(
    180deg,
    #f56d1a 0%,
    #c95a18 52.47%,
    #e76518 92.19%
  );
  border: 3.72px solid rgba(218, 80, 25, 1);
}
.reviews-item-top {
  display: flex;
  gap: 15px;
  align-items: center;
}
.reviews-text-bold {
  font-size: 24px;
  font-weight: 900;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 16px;
}
.reviews-img {
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    padding: 80px 120px;
  }

  .reviews-list {
    padding: 44px 0;
  }
  .reviews-item {
    margin: 0 10px;
    width: 1200px;
    height: 335px;
    padding: 24px 32px 24px 32px;
  }
  .reviews-item-top {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .reviews-text-bold {
    font-size: 32px;
    font-weight: 900;
    line-height: 38.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .reviews-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 16px;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/image/4\ Block.png");
}
.faq-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  background: rgba(255, 255, 255, 1);

  border-radius: 24px;
}

.faq-item {
  padding: 8px 24px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 24px;
  font-weight: 900;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(100, 30, 15, 1);
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  color: rgba(100, 30, 15, 1);
  padding-top: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 120px;
    margin: auto;
    width: 1440px;
  }
  .faq-container {
    width: 1200px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }

  .faq-question {
    font-size: 32px;
    font-weight: 900;
    line-height: 38.4px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .toggle-button {
    background: none;
    border: none;

    cursor: pointer;
  }

  .faq-answer {
    display: none;

    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.gallery {
  width: 375px;

  margin: auto;
  padding: 60px 16px;
}

.gallery__list {
}
.gallery__item {
  width: 343px;
  height: 220.02px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 100px;
  }
  .gallery__item {
    margin: 0 10px;
    width: 568.53px;
    height: 314.4px;
  }
}
.features {
  width: 375px;
  height: 813px;
  margin: auto;
  padding: 48px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/Third\ Block.png");
}

.features-list {
  padding-top: 48px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.features-item {
  display: flex;
  gap: 24px;
  align-items: center;
}

.features-text-bold {
  font-size: 16px;
  font-weight: 900;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.features-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 712px;
    margin: auto;
    padding: 2px 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/features/1.png");
  }

  .features-list {
    padding-top: 28px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;

    height: 390px;
  }
  .features-item {
    width: 568px;
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .features-text-bold {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .features-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.footer {
  color: #ffffff;
  padding: 23px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 6px;
}
.footer-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    margin: auto;
    padding: 40px 120px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;

    gap: 260px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 6px;
  }
  .footer-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 124px 16px 24px;
}
.policy-terms-title {
  font-family: Agbalumo;
  font-size: 38px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-shadow: 3.72px 3.72px 0px rgba(100, 30, 15, 1);
}

.policy-terms-text {
  font-family: Agbalumo;
  font-size: 24px;
  font-weight: 400;
  line-height: 26.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 50px;
}
.policy-terms-texts {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 28px;
}
.policy-terms-text-one {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 40px;
}

.terms-list {
  list-style-type: disc;

  padding: 30px 0 20px 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 112px 120px 40px;
    margin: auto;
    width: 1440px;
  }
  .policy-terms-title {
    font-family: Agbalumo;
    font-size: 81px;
    font-weight: 400;
    line-height: 97.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
